version: "3.7"
services:
    app:
        build:
            args:
                user: bekor
                uid: 1000
            context: ./
        image: webapp-planner
        container_name: webapp-planner-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes: 
            - ./:/var/www/
        networks: 
            - agenciabekor
    server:
        image: nginx:1.21-alpine
        container_name: webapp-planner-server
        restart: unless-stopped
        ports: 
            - "8080:80"
        volumes: 
            - ./:/var/www
            - ./docker/nginx:/etc/nginx/conf.d
        networks: 
            - agenciabekor

networks: 
    agenciabekor:
        driver: bridge